<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Codes and Stores</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='search-page.css') }}">
	</head>
	<body>
		<div class="full-top-section">
			<div class="left-top-section">
				<div class="sidebar-container">
					<img src="{{ url_for('static', filename='shopping_list_list.png') }}" class="sidebar-visible">
					<ul class="sidebar-list-item js-sidebar-list-item right-to-left"></ul>
					<button class="view-shopping-list js-view-shopping-list">לרשימת הקניות שלי</button>
				</div>
			</div>
			<div class="right-top-section">
				<div class="header-div">
					<img src="{{ url_for('static', filename='batmarket_icon.png') }}" class="header-picture">
				</div>
				<h1 class="right-to-left">חיפוש מחירים בסופרמרקטים אונליין</h1>
                <div class="over-panel">

                </div>
				<div class="top-full-bar">
					<button class="toolkit-belt view-optimal-cart js-view-optimal-cart">
                        <img src="{{ url_for('static', filename='TwoFace.png') }}" class="minor-header-picture">
                        <span class="flex-bottom">לסל הקניות האופטימלי</span>
                    </button>
					<button class="toolkit-belt view-optimal-cart js-view-optimal-cart">
                        <img src="{{ url_for('static', filename='Penguin.png') }}" class="minor-header-picture">
                        <span class="flex-bottom">לרשימת הקניות</span>
                    </button>
					<form id="Bar-code-form" class="top-search-box" accept-charset="utf-8">
						<button class="js-submit-search-button submit-search-button toolkit-belt no-border" type="submit">
							<img src="{{ url_for('static', filename='Riddler.png') }}" class="minor-header-picture">
							<span>
								<img src="/static/animations/spinner.gif" class="js-loading-image unloading-image" id="spinnerImage">
								חיפוש
								<img src="/static/animations/spinner.gif" class="js-loading-image unloading-image" id="spinnerImage">
							</span>
						</button>
						<div class="search-container">
							<img src="{{ url_for('static', filename='Joker.png') }}" class="minor-header-picture">
							<span class="flex-bottom">
								<input type= "text" placeholder="כאן מחפשים.ות" class="js-search-box search-box flex-bottom" list="possible-products">
							</span>
						</div>
                    </form>
				</div>
				<datalist id="possible-products" class="js-possible-products">
					<option value="התחילו להקיש על מנת לקבל הצעות למוצרים"></option>
				</datalist>
			</div>
		</div>
		<div class="main-site-content">
			<table>
				<thead>
					<tr>
						<th>
							הוספה לרשימה
						</th>
						<th>
							תווך מחירי הנחה
						</th>
						<th>
							תווך מחירים רגילים
						</th>
						<th>
							מוצר
						</th>
					</tr>
				</thead>
				<tbody class="js-prices-table"></tbody>
			</table>
		</div>
		<footer>
			<p class="rights-reseved">© Omer Cohen Gil 2025</p>
			<a href="/backend-stuff">For internal configurations</a>
		</footer>
		<script type="module" src="{{ url_for('static', filename='searchPage.js') }}"></script>
	</body>
</html>

